# Ignore chache
__pycache__/
*.pytest_cache/
*.pyc
*.pyo

# Ignore virtual environments
.env
.venv
config.ini

# Ignore log files
log.*
*.log

credentials.json

# Ignore database files
instance/
*.db
*.sqlite

# Ignore jobs storage
jobs/
!taskbot/jobs
