# Ignore chache
__pycache__/
*.pytest_cache/
*.pyc
*.pyo

# Ignore virtual environments
.env
.venv

# Ignore log files
log.txt
*.log

credentials.json

# Ignore database files
instance/
*.db
*.sqlite
